@use 'helpers' as *;

#site-navigation{

    ul{
        margin: 0;
        padding: 0;
        list-style: none;

        li{
            margin-bottom: 0;

            a{
                position: relative;
                display: block;
            }
        }
    }

    #primary-menu{
        display: none;
        @include minBreakpoint('md'){display: flex;}

        & > li{
            margin-right: 1.5rem;

            &:last-child{
                margin-right: 0;
            }

            & > a{
                color: $color_header_link;
                font-size: $main_nav_font_size;
                padding: .5rem .25rem;

                &:hover{
                    color: $color_header_link_hover;
                }
            }

            &.current-menu-item > a{
                font-weight: 700;
            }
        }

        //Submenus
        & > li.menu-item-has-children{

            ul{
                @include hiddenItem;
                width: 14rem;
                transition: opacity .2s ease-out;
            }

            //First Level
            & > ul{

                li{
                    margin: 0;
                    padding: 0;
                }

                & > li{
                    position: relative;

                    a{
                        padding: .75rem;
                        background-color: $submenu_bg;
                        color: $color_submenu_link;
                        font-size: $main_nav_font_size;

                        &:hover{
                            background-color: $submenu_bg_hover;
                        }
                    }

                    //Second Level
                    & > ul{
                        @include hiddenItem;
                        top: 0;
                        left: 100%;
                    }

                    &.current-menu-item > a{
                        font-weight: 700;
                    }
                }

                //Submenu indicator icon
                & > li.menu-item-has-children > a::after{
                    content: "\f054";
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    padding-left: .3125rem;
                    position: absolute;
                    right: .5rem;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $color_submenu_link;
                }
            }
        }

        li.menu-item-has-children:hover > ul{
            opacity: 1;
            visibility: visible;
            z-index: 999;
            transform: none;
        }

        //Submenu indicator icon
         & > li.menu-item-has-children > a::after{
            content: "\f078";
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            padding-left: .3125rem;
            display: inline;
            font-size: .8rem;
        }
    }

    //Hamburger icon for mobile menu toggle
    .menu-icon{
        display: block;
        position: relative;
        width: 1.5rem;
        height: 18px;
        cursor: pointer;
        @include minBreakpoint('md'){display: none;}

        div{
            height: 2px;
            border-radius: 0;
            width: 100%;
            position: absolute;
            left: 0;
            background-color: $color_header_link;
            transition: all .3s ease-out;
        }

        .x1{
            top: 0;
        }

        .x2{
            top: 8px;
        }

        .x3{
            top: 16px;
        }
    }
}