$cta_font_size: (
    'mobile' : .9rem,
    'xs' : .9rem,
    'sm' : 1rem,
);

$cta_font_size_sm: (
    'mobile' : .8rem,
    'xs' : .9rem,
);

$ctaPad : (
    'mobile' : 1rem 3rem,
);

$ctaPad_sm : (
    'mobile' : .75rem 1.5rem,
);